<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="first" icon-off="ion-chatbox-working" icon-on="ion-chatbox-working" ui-sref="tab.first">
        <ion-nav-view name="first"></ion-nav-view>
    </ion-tab>
    <ion-tab title="second" icon-off="ion-chatboxes" icon-on="ion-chatboxes" ui-sref="tab.second">
        <ion-nav-view name="second"></ion-nav-view>
    </ion-tab>
    <ion-tab title="third" icon-off="ion-chatbox" icon-on="ion-chatbox" ui-sref="tab.third">
        <ion-nav-view name="third"></ion-nav-view>
    </ion-tab>
</ion-tabs>
